extends layout

block content
  div(class="heading-one-wrapper")
      h1= title
  div(class="main-wrapper")
    if category_list.length
      div(class="browse-category-container")
        each category in category_list
          a(href="/category/"+category.slug)
            h3(class="browse-category-heading")!= category.name
    else
      p Need to add a category first
      a(href="/category/create") Add category
