extends layout

block content
  div(class="heading-one-wrapper")
      h1= title
  div(class="main-wrapper")
    ul
      each category in categories
          li 
              h2= category.tile
              p Description: #{category.description}
    