extends layout

block content
  div(class="heading-one-wrapper")
      h1= title
  div(class="main-wrapper")
    form(method='POST', action='')
      div.form-group
          label(for='name') Category Name:
          input#name(type='text', placeholder='Brakes, Steering, etc' required="true" name='name' value=(typeof category === 'undefined' ? '' : category.name))
      div.form-group
          label(for='description') Category Description:
          textarea#description(type="textarea", placeholder="Description for this category" required="true" name="description") #{typeof category === 'undefined' ? '' : category.description}
          input#categoryid(type='hidden',name='categoryid', required='true', value=(typeof category === 'undefined' ? '' : category._id) )
      button.submit-button(type='submit') Submit

      if errors
      ul
        for error in errors
          li!= error.msg
