doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header(class="header")
      div(class="header-container")
        a(href="/")
         p AA Auto Parts
        ul(class="header-menu")
          li(class="header-menu-item")
            a(href="/") Home
        ul(class="header-menu controls-menu")
          li(class="header-menu-item")
            a(href="/part/create") Create Part
          li(class="header-menu-item")
            a(href="/category/create") Create Category
    main(class='main-container')
          block content
