body {
    margin: 0;
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #f7f700;
    --primary-color-hover: #ffff24;
}

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h2 {
    font-size: 2.8rem;
}

h2.category-heading {
    margin-block-end: 0;
}

.part-card-info h3 {
    margin-block-end: 1rem;
    margin-block-start: 0;
    font-size: 2rem;
}

p.part-number {
    font-size: 1.4rem;
}

header.header {
    background-image: linear-gradient(45deg, rgb(33,33,33) 0%,transparent 73%),repeating-linear-gradient(90deg, rgba(127, 127, 127,0.1) 0px, rgba(127, 127, 127,0.1) 1px,transparent 1px, transparent 17px),repeating-linear-gradient(0deg, rgba(127, 127, 127,0.1) 0px, rgba(127, 127, 127,0.1) 1px,transparent 1px, transparent 17px),linear-gradient(0deg, rgb(33,33,33),rgb(33,33,33));
    color:#fff;
    width: 100%;
}

header.header a {
    color: #fff;
}

a.logo-text-link {
    text-decoration: none;
}

a.logo-text-link p {
    font-size: 4rem;
    margin-block-end: 0;
    margin-block-start: 0;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
}

.header-container a:hover{
    text-decoration: none;
}

ul.header-menu {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    display: flex;
    list-style: none;
    margin-left: 3rem;
}

ul.header-menu.controls-menu {
    margin-left: auto;
}

ul.header-menu li:not(:first-of-type) {
    margin-left:1rem;
}

.main-wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.heading-one-wrapper {
    background: var(--primary-color);
}

.heading-one-wrapper h1 {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    margin-block-start: 0;
}

.browse-category-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    width: 100%;
    gap: 2rem;
}

img {
    width: 100%;
}

.parts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,400px));
    width: 100%;
    gap: 2rem;
}

.part-card {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.part-card-inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.part-card-info {
    padding: 2rem;
    overflow-wrap: break-word;
}

.part-card-info p {
    margin-block-start: 0;
    margin-block-end: 1rem;
}

a.part-card-image-link {
    overflow: hidden;
    display: flex; 
    justify-content: center;
}

a.part-card-image-link img {
    object-fit: cover;
    width: 100%;
    transition: 0.3s ease-in-out all;
}


a.part-card-image-link:hover img {
    transform: scale(1.03);
}

a.part-card-link {
    width: 100%;
    background: var(--primary-color);
    display: block;
    padding: 1rem;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s ease-in-out all;
    margin-top: auto;
    font-size: 1.7rem;
}

a.part-card-link:hover {
    background: var(--primary-color-hover);
}

.category-container:not(:first-of-type) {
    margin-top: 6rem;
}

.category-container {
    margin-bottom: 2rem;
}

.category-container a {
    font-size: 1.4rem;
    color: #000;
}


.category-container a:hover {
    text-decoration: none;
}

.browse-category-container a {
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    padding: 2rem;
    border-radius: 0.3rem;
    border: solid 1px #000;
    color: #000;
    text-decoration: none;
}

.browse-category-container a:hover {
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fabc59 0%, #f8e881 74%);
}

.browse-category-container h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 700;
}

label.category-label {
    font-weight: initial;
    font-size: initial;
}

form {
    width: 100%;
    max-width: max-content;
}

input {
    padding: 0.5rem 1rem;
    border: solid 1px #c1c1c1;
}

button.submit-button {
    width: 100%;
    background: var(--primary-color);
    border: solid 1px var(--primary-color);
    line-height: 1;
    padding: 1rem 2rem;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out all;
}

button.submit-button:hover {
    background-color: var(--primary-color-hover);
}

.update-delete-link-container {
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

a.update-delete-links {
    width: 100%;
    background: var(--primary-color);
    border: solid 1px var(--primary-color);
    line-height: 1;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out all;
    text-decoration: none;
    color: #000;
}

a.update-delete-links:hover {
    background-color: var(--primary-color-hover);
}
textarea#description {
    height: 100px;
    width: 500px;
    max-width: 100%;
    font-family: inherit;
    padding: 0.5rem 1rem;
    border: solid 1px #c1c1c1;
}

form ul {
    max-width: 500px;
}

hr {
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.part-detail-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    align-items: center;
}

.part-detail-info h1 {
    margin-bottom: 0;
}

span.part-detail-category-span:not(:last-child):after {
    content: ", ";
}